/assets/favicon/icons
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/ISINSTALLED
/storage/app/INSTALLING
/vendor
database/database.sqlite
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_*
/public
/mix-manifest.json
/js
/css
